<footer class="footer">
  <div class="footer-logo">
    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Company</h3></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Careers", careers_path %></li>
        <li><%= link_to "Team", team_path %></li>
    </ul>
    <ul>
      <li><h3>Social</h3></li>
      <li><%= link_to "Facebook", 'https://www.facebook.com/ShieldBreakStudios' %></li>
      <li><%= link_to "Twitter", 'https://twitter.com/Shield_Break' %></li>
      <li><%= link_to "Twitch", '#' %></li>
    </ul>
  </div>
  <hr>
  <p>Copyright © Shield Break Studios 2013-2014. All Rights Reserved</p>
</footer>